{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "rules": {
    "arrow-body-style": "off",
    "no-console": "off",
    "no-continue": "off",
    "react/jsx-filename-extension": [1, { "extensions": [".js"] }]
  }
}
