.hide {
    display:none;
}

.card {
    padding:20px;
}

button.small {
    font-size: .75em;

    float:right;
    clear:right;
}

.container {
    max-width: 960px;
    padding:50px;
    margin:auto;
}
